* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
}

body {
  max-width: 50%;
  margin: 2% auto;
  text-align: center;
}
.header {
  margin-bottom: 4%;
}
.section {
  margin: 4% 0%;
}
.section a {
  text-decoration: none;
  color: blue;
}
.btn {
  background-color: blue;
  border: none;
  color: white;
  padding: 2% 4%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}

table {
  margin: 2rem auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 20px;
}
