* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
}

body {
  max-width: 50%;
  margin: 2% auto;
  text-align: center;
}
.body {
  background: #f5f5f5;
  margin: 0;
  max-width: 100%;
  border: 1px solid red;
}
.header {
  margin-bottom: 4%;
}
.section {
  margin: 4% 0%;
}
.section a {
  text-decoration: none;
  color: blue;
}

.btn {
  background-color: blue;
  border: none;
  color: white;
  padding: 2% 4%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}

table {
  margin: 2rem auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 20px;
}
.form__container {
  position: relative;
  width: 500px;
  height: 530px;
  background: #ffffff;
  margin: 3.85rem auto;
}
.form__title {
  text-align: start;
  padding: 0 3rem;
  padding-top: 1.5rem;
}
.form__form {
  text-align: start;
  padding: 0 3rem;
  padding-top: 1.2rem;
}
form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
}
.name {
  display: flex;
  flex-direction: row;
  gap: 7.9rem;
}

.username {
  display: flex;
  flex-direction: row;
  gap: 5.7rem;
}
.password {
  display: flex;
  flex-direction: row;
  gap: 5.7rem;
}
.re-password {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}
.male {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.female {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.gender {
  display: flex;
  flex-direction: row;
  gap: 6.7rem;
}
.flex {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.tech {
  display: flex;
  flex-direction: row;
  gap: 2.9rem;
}
.html {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.css {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.javascript {
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.phonenumber {
  display: flex;
  flex-direction: row;
  gap: 3.4rem;
}
.email {
  display: flex;
  flex-direction: row;
  gap: 7.25rem;
}
.selected {
  display: flex;
  flex-direction: row;
  gap: 6.1rem;
}
form label {
  font-weight: bold;
}
form input[type="text"] {
  width: 210px;
  height: 2rem;
  padding-left: 1.1em;
}
form input[type="password"] {
  width: 210px;
  height: 2rem;
  padding-left: 1.1em;
}
form input[type="email"] {
  width: 210px;
  height: 2rem;
  padding-left: 1.1em;
}

form input[type="number"] {
  width: 210px;
  height: 2rem;
  padding-left: 1.1em;
}
form select {
  width: 210px;
  height: 2rem;
  padding-left: 1.1em;
}
.form__button {
  position: absolute;
  width: 215px;
  height: 36px;
  left: 214.5px;
  top: 460px;
  margin-top: 0.5rem;
  background: #155eef;
  border-radius: 4px;
}
